<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Transactions</title>
</head>
<body>
<h2>Hello <span th:text="${userId}">User</span></h2>
<h3>Here are your transactions:</h3>

<table>
    <thead>
    <tr>
        <th>Receiver</th>
        <th>Amount</th>
        <th>Reference</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${userTransactions}">
        <td th:text="${transaction.receivingUser.fullName}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.reference}"></td>
        <td th:text="${#temporals.format(transaction.timestamp, 'dd/MMM/yyyy HH:mm')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>